{% extends 'base_no_pole_button.html.twig' %}
 
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/security_forgetPass.css')}}">
{% endblock %}

{% block title %}Mot de passe oublié {% endblock %}
 
{% block body %}
    <div class="container p-5 mb-5">
        <div id="forgetPass">
            <h1 class="text-center mb-5">Mot de passe oublié</h1>
                
            {{ form_start(emailForm, {'attr':{'class':'d-flex justify-content-center'}}) }}
                {{ form_widget(emailForm.email, {'attr':{'placeholder':'Veuillez enter votre email', 'class':'w-50 mr-2'}}) }}
                <button type="submit" class="btn BtnEnvoyer">Envoyer</button>
            {{ form_end(emailForm) }}
        </div>
    </div>
{% endblock %}