{% extends 'base_no_pole_button.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/security_resetPass.css')}}">
{% endblock %}

{% block title %}Modifier votre mot de passe {% endblock %}

{% block body %}
    <h4 class="text-center py-5">Changer votre mot de passe</h4>


    

    <div class="text-center">
        <div>
            <form id="mdp_form" class="" action="{{path('app_reset_password', {'token' : token,'email' : email})}}" method="post">
                <div class="center">
                    <label for="newPassword">Entrer votre nouveau mot de passe</label>
                    <div class="row formBorder col-3 mt-3 show_hide_password">
                        <div class="col-3 col-md-10 text-right">
                            <input placeholder="Nouveau mot de passe" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,24})$" type="password" name="password" id="inputPassword1" class="form-control-plaintext w-100 ml-auto text-left" required>
                        </div>
                        
                        <div class="col-1 col-md-1 text-left align-self-center">
                            <i class="fa fa-eye-slash" id="show_hide_1" onclick="click1();" aria-hidden="true" style="color:black"></i>                        
                        </div>
                    </div>
                </div>

                <br>
                <br>
                
                <div class="center">
                    <label for="newPassword">Confirmez le nouveau mot de passe</label>
                    <div class="row formBorder col-3 mt-3 show_hide_password">
                        <div class="col-3 col-md-10 text-right">
                            <input placeholder="Confirmer nouveau mot de passe" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,24})$" type="password" name="password" id="inputPassword2" class="form-control-plaintext w-100 ml-auto text-left" required>
                        </div>
                        
                        <div class="col-1 col-md-1 text-left align-self-center">
                            <i class="fa fa-eye-slash" id="show_hide_2" onclick="click2();" aria-hidden="true" style="color:black"></i>                        
                        </div>
                    </div>
                </div>
                <br>
                <div id="mdp_message"></div>
                <br>
            </form>
        </div>

        <hr class="hrVertical">

        <div class="col-12 col-md-4 text-center paddingText">
            <p class="paddingText">Doit contenir 8 à 24 caractères, comporter au moins une majuscule et une minuscule, 1 chiffre et un caractère spécial. (pas de "&" ni de "{")</p> 
        </div>
    </div>

    <div class="my-3 text-center"> 
         <button type="submit" class="btn btnPass" form="mdp_form">{{ button_label|default('Sauvegarder les modifications') }}</button>
    </div>
    
{% block javascripts %}
    <script src="{{ asset('assets/js/resetpassword.js') }}"></script>
    <script>
        function click1()
        {
            let show_hide_1 = document.querySelector("#show_hide_1");

            show_hide_1.classList.toggle("fa-eye-slash");
            show_hide_1.classList.toggle("fa-eye");

            if($('#inputPassword1').attr("type") == "text")
            {
                $('#inputPassword1').attr('type', 'password');
            }
            else
            {
                $('#inputPassword1').attr('type', 'text');
            }
        }
        function click2()
        {
            let show_hide_2 = document.querySelector("#show_hide_2");

            show_hide_2.classList.toggle("fa-eye-slash");
            show_hide_2.classList.toggle("fa-eye");

            if($('#inputPassword2').attr("type") == "text")
            {
                $('#inputPassword2').attr('type', 'password');
            }
            else
            {
                $('#inputPassword2').attr('type', 'text');
            }
        }
    </script>
{% endblock %}

{% endblock %}