{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/account_monCompte_resetPass.css')}}">
    
{% endblock %}


{% block body %}
    <h3 class="text-center py-5">Modifier votre mot de passe</h3>
    
    <div class="row mt-3">
        <div class="col-12 col-md-7">
            <form id="mdp_form" class="" action="{{path('reset_forgot_password')}}" method="post">
                <div class="form-group ">
                    <label for="oldPassword">Mot de passe actuel</label>                    
                    <div class="row formBorder col-12 mt-3 show_hide_password">
                        <div class="col-3 col-md-10 text-right">
                            <input placeholder="Entrez le mot de passe actuel" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,24})$" type="password" name="oldPassword" id="inputPassword3" class="form-control-plaintext w-100 ml-auto text-left" required>
                        </div>
                        
                        <div class="col-1 col-md-1 text-left align-self-center">
                            <i class="fa fa-eye-slash eye" id="show_hide_3" onclick="click3();" aria-hidden="true" style="color:black"></i>                        
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword">Nouveau mot de passe</label>
                    <div class="row formBorder col-12 mt-3 show_hide_password">
                        <div class="col-3 col-md-10 text-right">
                            <input placeholder="Entrez le nouveau mot de passe" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,24})$" type="password" name="password" id="inputPassword1" class="form-control-plaintext w-100 ml-auto text-left" required>
                        </div>
                        
                        <div class="col-1 col-md-1 text-left align-self-center">
                            <i class="fa fa-eye-slash eye" id="show_hide_1" onclick="click1();" aria-hidden="true" style="color:black"></i>                        
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newConfirmPassword">Confirmez le nouveau mot de passe</label>                    
                    <div class="row formBorder col-12 mt-3 show_hide_password">
                        <div class="col-3 col-md-10 text-right">
                            <input placeholder="Confirmez le nouveau mot de passe" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,24})$" type="password" name="password" id="inputPassword2" class="form-control-plaintext w-100 ml-auto text-left" required>
                        </div>
                        
                        <div class="col-1 col-md-1 text-left align-self-center">
                            <i class="fa fa-eye-slash eye" id="show_hide_2" onclick="click2();" aria-hidden="true" style="color:black"></i>                        
                        </div>
                    </div>
                </div>
                
                <br>
                <div id="mdp_message"></div>
                <br>
            </form>
        </div>

        <hr class="hrVertical">

        <div class="col-12 col-md-4 text-center">
            <p class="paddingText">Doit contenir 8 à 24 caractères, et au moins une majuscule, une minuscule, un chiffre et un caractère spécial.  (pas de "&" ni de "{")</p> 
        </div>
    </div>

    <div class="my-3 text-center"> 
         <button type="submit" form="mdp_form" class="btn btnRed">{{ button_label|default('Sauvegarder les modifications') }}</button>
    </div>

    {% block javascripts %}
    <script src="{{ asset('assets/js/resetpassword.js') }}"></script>
    <script>
        function click1()
        {
            let show_hide_1 = document.querySelector("#show_hide_1");

            show_hide_1.classList.toggle("fa-eye-slash");
            show_hide_1.classList.toggle("fa-eye");

            if($('#inputPassword1').attr("type") == "text")
            {
                $('#inputPassword1').attr('type', 'password');
            }
            else
            {
                $('#inputPassword1').attr('type', 'text');
            }
        }
        function click2()
        {
            let show_hide_2 = document.querySelector("#show_hide_2");

            show_hide_2.classList.toggle("fa-eye-slash");
            show_hide_2.classList.toggle("fa-eye");

            if($('#inputPassword2').attr("type") == "text")
            {
                $('#inputPassword2').attr('type', 'password');
            }
            else
            {
                $('#inputPassword2').attr('type', 'text');
            }
        }
        function click3()
        {
            let show_hide_2 = document.querySelector("#show_hide_3");

            show_hide_2.classList.toggle("fa-eye-slash");
            show_hide_2.classList.toggle("fa-eye");

            if($('#inputPassword3').attr("type") == "text")
            {
                $('#inputPassword3').attr('type', 'password');
            }
            else
            {
                $('#inputPassword3').attr('type', 'text');
            }
        }
    </script>
{% endblock %}
{% endblock %}