<div class="loadingScreen collapse">
    <div class="loader mx-auto"></div>
</div>

<style>
    /****** chargement du formulaire */
    .loadingScreen {
        position        : absolute;
        left            : 0px;
        width           : 100%;
        top             : 0px;
        height          : 100vh;
        z-index         : 999;
        background-color: rgba(0, 0, 0, 0.3);
    }

    /****** logo du chargement du formulaire */
    .loader {
        margin-top   : 20%;
        border       : 16px solid #f3f3f3;
        border-top   : 16px solid var(--couleurBleu); 
        border-radius: 50%;
        width        : 120px;
        height       : 120px;
        animation    : spin 2s linear infinite;
    }
    
    @keyframes spin {
        0%   { transform  : rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>