{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/notFound_accesDenied.css')}}">
{% endblock %}

{% block title %}Page non autorisé ! {% endblock %}

{% block body %}
<div class="container notFoundPage mb-5">
    <h1 class="mt-5 text-center">Page non autorisee !</h1>

    <div class="text-center">
        <img class="vibrate-1" src="{{ asset('img/notFound/stop.png') }}" alt="" width="200px">
        <p class="h3 my-5 vibrate-1">Oups <i class="fas fa-hand-paper"></i> Vous n'avez pas les droits pour faire cette
            action !</p>
        <p>Une erreur est apparue, vous pouvez retouner à l'accueil de notre portail !</p>
    </div>

    <div class="text-center my-5">
        <a href="{{ path('home')}}" class="btn btnRed rounded w-50">Retour a l'accueil</a>
    </div>
</div>
{% endblock %}